form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #FFC371, #FF5F6D);
}

.logo {
  padding: 10px;
  text-align: center;
  align-items: left;
  /* margin-left: -150px; */
}

.navigation {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 150px;
}

.nav-link {
  margin: 0 20px;
}

.nav-link a {
  text-decoration: none;
  color: #333;
  padding-right: 20px;
}

.nav-link a:hover {
  /* font-weight: bolder; */
  /* font-size: x-large; */
  background-color: #FD7272;
  color: #FFF;
}

.search {
  margin-top: 50px;
  margin-left: 200px;
}

#search-input {
  width: 350px;
  margin-bottom: 50px;
}

.input {
  border: 1px solid #FFD1DC;
  height: auto;
  border-radius: 10px;
  padding: 12px;
  background-color: #FFF;
  color: #333;
}
 /* .menu {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #F95759;
padding: 10px 20px;
border-bottom: 5px solid #E63B3F;
} 

.logo h3 {
font-size: 28px;
margin: 0;
color: #fff;
text-shadow: 2px 2px #E63B3F;
}

.navigation {
display: flex;
list-style: none;
margin: 0;
padding: 0;
}

.navigation li:not(:last-child) {
margin-right: 20px;
}

.nav-link a {
font-size: 18px;
text-decoration: none;
color: #fff;
text-shadow: 2px 2px #E63B3F;
}

.search form {
display: flex;
align-items: center;
}

.search input {
padding: 8px;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 16px;
margin-right: 10px;
}

.search-button {
padding: 8px 12px;
background-color: #fff;
color: #F95759;
border: none;
border-radius: 5px;
font-size: 16px;
cursor: pointer;
text-shadow: 2px 2px #E63B3F;
}

.search-button:hover {
background-color: #E63B3F;
color: #fff;
} */

