.ticket-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ticket-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ticket-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  margin: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.ticket-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.ticket-card h2 {
  margin: 0;
  font-size: 24px;
}

.ticket-card p {
  margin: 10px 0;
  font-size: 16px;
}

.ticket-card button {
  margin-top: 10px;
  padding: 10px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.ticket-card button:hover {
  background-color: #3e8e41;
}
